@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: clamp(0.5rem, 2vmin, 1.5rem);
}

code {
  font-family: "Nunito Sans", sans-serif;
}
